.footer {
    position: relative;
    padding: 10px 0;

    &::before {
        @include pseudo;
        max-width: 1200px;
        width: 100%;
        border-bottom: 1px solid #e5e5e5;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__text {
    @include font;
    color: #333333;
}

.footer__link {
    color: #f38181;
}

.footer-form {
    display: flex;
}

.footer-form__input {
    width: 230px;
    height: 40px;
    padding: 0 12px;
    border: 1px solid #e7e7e7;
}

.footer-form__input::placeholder {
    @include font($fs: 15px, $fw: 300, $lh: 24px);
    color: #cccccc;
    font-family: $second-font;
    font-style: italic;
}

.footer-form__input:required:focus {
    outline: none;
}

.footer-form__input:required:focus:valid:not(:placeholder-shown) {
    border-color: #008000;
}

.footer-form__input:required:focus:invalid:not(:placeholder-shown) {
    border-color: #ff0000;
}

.footer-form__btn {
    @include font($fw: 700);
    padding: 0 33px;
    background-color: #95e1d3;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}