.team {
    padding-top: 46px;
    padding-bottom: 82px;
}

.team__desc {
    @include font($fs: 15px, $lh: 24px);
    max-width: 954px;
    font-family: $second-font;
    color: $section-second-text-color;
    margin: 0 auto;
    margin-bottom: 90px;
    text-align: center;
}

.team__list {
    display: flex;
    justify-content: space-between;
}

.team__item {
    max-width: 380px;
    text-align: center;

    &:hover {
        .team__overlay {
            visibility: visible;
            opacity: 1;
        }

        .team__img-wrap {
            transform: translate(-10px, -10px);
        }
    }
}

.team__img-wrap {
    position: relative;
    margin-bottom: 28px;
    transition: all .2s linear;
}

.team__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    box-shadow: 10px 10px  #95e1d3;
    visibility: hidden;
    opacity: 0;
    transition: all .2s linear;
}

.social-list {
    display: flex;

    &:not(:last-child) {
        border-right: 1px solid rgba(243, 129, 129, .5);
    }
}

.social-list__link {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fce38a;
    transition: all .2s linear;

    &:hover {
        background-color: #f38181;

        .social-list__icon {
            fill: #fff;
        }
    }
}

.social-list__icon {
    fill: #f38181;
    transition: all .2s linear;

    &_fb {
        width: 13px;
        height: 26px;
    }

    &_tw {
        width: 26px;
        height: 22px;
    }

    &_pt {
        width: 21px;
        height: 26px;
    }

    &_inst {
        width: 26px;
        height: 26px;
    }
}

.team__item-name {
    @include font($fw: 700);
    text-transform: uppercase;
    color: $section-main-text-color;
    margin-bottom: 12px;
}

.team__item-position {
    @include font($fs: 15px, $fw: 300, $lh: 24px);
    font-family: $second-font;
    font-style: italic;
    color: $section-second-text-color;
}