$main-font: 'Montserrat', sans-serif;
$second-font: 'Roboto', sans-serif;
$decorative-font: 'Kaushan Script';

$baner-text-color: #fff;
$baner-hover-color: #fce38a;
$section-main-text-color: #333;
$section-second-text-color: #999;