.section-title {
    @include font($fs: 30px, $fw: 700);
    text-transform: uppercase;
    color: $section-main-text-color;
    text-align: center;
    margin-bottom: 46px;

    &::after {
        @include pseudo($position: static);
        width: 60px;
        border-bottom: 3px solid #f38181;
        margin: 0 auto;
        padding-top: 42px;
    }
}

.section-title__decorative {
    @include font($fs: 24px);
    display: block;
    font-family: $decorative-font;
    text-transform: none;
    margin-bottom: 20px;
}